{% extends 'base.html' %}

{% block content %}
      <div class="jumbotron">
        <h1>{{ day.date|date:"l, d M Y" }}</h1>
        <p class="lead">{% if day.locations.count > 1 %}In transit:{% endif %} {% for location in day.locations.all %}{{ location.name_std }}{% if not forloop.last %} &rarr; {% endif %}{% endfor %}</p>
        <p><a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a></p>
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h4>Subheading</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

          <h4>Subheading</h4>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

          <h4>Subheading</h4>
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>

        <div class="col-lg-6">
          <h4>Subheading</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

          <h4>Subheading</h4>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

          <h4>Subheading</h4>
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>
      </div>



        {% for location in day.locations.all %}
            <section>
            <h2>{{ location.name_std }}</h2>
            {{ location }}
            {{ location.location }}
            </section>
        {% endfor %}
        
<div id="map-canvas" style="height:200px; width:100%;"></div>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script>
$(function() {
alert('oi');
/*
    $('#map_canvas').gmap({ 'center': new google.maps.LatLng(42.345573,-71.098326), 'callback': function() {
        alert('Google map loaded!');
    }});
*/
});


/*
function initialize() {
    var map = new google.maps.Map(document.getElementById('map-canvas'), {mapTypeId: google.maps.MapTypeId.ROADMAP});

    var flightPlanCoordinates = [
    {% for waypoint in day.locations.all %}
    new google.maps.LatLng({{ waypoint.location.x }}, {{ waypoint.location.y }}){% if not forloop.last %},{% endif %}
    {% endfor %}
  ];
  var flightPath = new google.maps.Polyline({
    path: flightPlanCoordinates,
    geodesic: true,
    strokeColor: '#FF0000',
    strokeOpacity: 1.0,
    strokeWeight: 2
  });

  flightPath.setMap(map);
}

google.maps.event.addDomListener(window, 'load', initialize);
*/

    </script>


{% endblock %}


{% block title %}{{ day }}{% endblock %}